*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    background-color: rgb(3, 0, 0);
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    background: linear-gradient(70deg, rgb(200, 0, 255), rgb(255, 149, 0));
    height: 150%;
    width: 130%;
    position: absolute;
    top: -15px;
    left: -30px;
    animation: snake 3s infinite linear;
}

a {
    color: rgb(255, 132, 0);
    background-color: black;
    text-decoration: none;
    font-style: 25px;
    padding: 20px 60px;
    z-index: 2;
    letter-spacing: 1px;
}

.container:hover::before {
    animation: none;
}

a:hover {
    background: linear-gradient(70deg, rgb(200, 0, 255), rgb(255, 149, 0));
    color: white;
}

@keyframes snake {
    0%{
        rotate: 0deg;
    }    
    100%{
        rotate: 360deg;
    }
}